@import "tailwindcss";

@layer components {
  .container-main {
    @apply max-w-6xl mx-auto px-4;
  }
}
/* src/index.css */
::placeholder {
  color: #b99b8b;
  opacity: 1;
}
input, textarea {
  color: #5A3B2E;
}